@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Lato&family=Lobster&family=Poppins:wght@300&family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: grey;
}


.App{
  background-color: rgb(185, 185, 193);
  min-height: 100vh;
  border: 8px solid #39445a93;
  margin: 5px;
  padding: 5px;

}

a{
  text-decoration: inherit;
  color: inherit;
}


